{% extends 'modele.html.twig' %}

{% block titre %}
 | {{ parent() }}
{% endblock %}

    {% block main %}
    <h1>L'objectif de ce site :</h1>
    <div style="margin-bottom:100px">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ea, explicabo eaque consequatur accusantium iste placeat porro repudiandae beatae optio laboriosam obcaecati voluptate repellat pariatur! Impedit totam rerum ipsam deleniti at non! Nam necessitatibus, ducimus rerum culpa ullam inventore nemo sit praesentium aut qui sapiente deserunt quas, autem tenetur natus at vero nostrum! Nemo provident blanditiis expedita autem aliquid. Eius provident vitae minus obcaecati maxime nemo ut minima numquam pariatur itaque natus a, mollitia facilis excepturi cupiditate aliquam eaque placeat consectetur explicabo asperiores, error tempora! Necessitatibus officia, inventore temporibus voluptates nostrum sapiente ullam quis qui nesciunt, quaerat porro nulla odit?
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum, earum alias corporis numquam placeat corrupti tempora magni saepe magnam animi aspernatur, sed quae laudantium. Quod reprehenderit accusamus voluptate dolor natus magni, pariatur laudantium blanditiis sint dicta, architecto possimus obcaecati neque optio? Recusandae, beatae dolorem? At eius obcaecati exercitationem doloremque. Ad debitis libero similique voluptatem ratione adipisci ipsum cum obcaecati, temporibus id qui consectetur, illum odit perferendis! Cum corrupti beatae quos doloribus debitis perferendis veritatis, quibusdam architecto, harum modi itaque illum reiciendis quae molestias sit numquam atque esse fugit sapiente, consequatur velit! Eveniet architecto consequuntur ex et ratione cumque facilis?
    </div>
    {% endblock %}

